<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Light is {{if .LightStatus}} ON {{else}} OFF {{end}}</h1>

    <p>Turn the light {{if .LightStatus}}on{{else}}off{{end}}?</p>
    
    <form method="post" action="/">
      <input type="hidden" name="switch" value="{{if .LightStatus}}off{{else}}on{{end}}">
      {{if .LightStatus}}
        <button type="submit" class="btn btn-danger">Turn OFF</button>
      {{else}}
        <button type="submit" class="btn btn-success">Turn ON</button>
      {{end}}
    </form>
  </body>
</html>